.top_head{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.text_bold{

    font-weight: bold;
    font-size: 16px;
}

.nav_top a{

    color: #fff;
}
.nav_top{
    background-color: darkblue;
    color: white;
}

.nav_top ul{
    list-style: none;
    margin-left: 15%;
    padding: 1%;
}

.nav_top ul li{
    display: inline;
    padding: 2%;
}
.logo{
    height: 0%;
}
.nav_img{
    height: 140px;
    width: 100%;
    padding: 0;
}

.nav_inside .portion{
    padding: 0;
}
.nav_inside_text{
    background-color: darkblue;
    color: #fff;
    text-align: center;
    padding: 5%;
}
.nav_inside_text a{
    color: #fff;

}

.img_large{
    background-image: url("../img/m.jpg");
    height: 400px;

}
.img_large .info{

    background-color: black;
    opacity: 0.7;
    color: ghostwhite;
    padding-top: 5%;
    padding-left: 5%;
    height: 100%;
}
.heading h4{
    text-align: center;
    padding-top: 30px;
}
.data{
    padding-top: 1%;
    text-align: left;
    padding-right: 4%;
}
.footer{
    background-color: lightgray;
    height: 100%;
    padding-top: 3%;
}

.footer a{
    color: darkgrey;
}
div.vertical-line{
    margin-top: -85px;
    width: 1px;
    background-color: darkgrey;
    height: 50px;
    float: left;
   
}

.copy{
    padding-top: 3%;
}

